.vehicleCard {
    list-style: none;
    border-radius: 5%;
    border-style: solid 1px grey;
    background-color: white;
    transition: all 200ms;
    width: 400px;
    margin: 0 auto;
}

.vehicleImage {
    border-radius: 5% 5% 0% 0%;
    width: 100%;
    height: 20em;
    pointer-events: none;
}

.vehicleInfo {
    width: 100%;
    height: 8em;
    padding: 5% 5% 5% 5%;
    line-height: 1.4;
    letter-spacing: .07em;
    font-family: var(--articleFont);
    font-size: 1.1em;
}

.petName {
    color: var(--mainColor);
    font-size: 2em;
    letter-spacing: .08em;
}


.favButton {
    border:none;
    background-color:transparent;
    font-size: 2em;
    color: red;
    background-position: center  ;
    margin: 0% 0% 5% 5%;
    position: relative;
}

.favRegHeartButton {
    border:none;
    background-color:transparent;
    font-size: 2em;
    color: red;
    background-position: center  ;
    margin: 0% 0% 5% 5%;
    position: relative;
}


.iconGrid {
    grid-area: area4;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%;
    padding: 0;
    align-content: space-around;
}