.container {
    padding: 0% 1% 0% 1%;
    font-size: 1.5em;
    margin-top: 2%;
}

.noDriversMessage {
    margin-left: 3%;
    font-size: 3em;
    font-family: var(--titleFont);
    color: #091540;
}
