@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

:root {
  --hoverColor: #ef404b;
  --mainColor: #505050; 
  --tittleColor: #000000; 
  --buttonBackgroundColor: #6504b5;
  --buttonFontColor: white; 
  --buttonShadow: 5px 5px 1px  rgba(0,0,0,0.8); 
  --titleFont: 'Mulish'; 
  --generalFont: 'Mulish'; 
}

body {
  background-color:white; 
  font-family: var(--generalFont);
  color: #505050;
}


